BASE_URL="https://apijkn-dev.bpjs-kesehatan.go.id"
KODE_PPK="00000000"
NAMA_PPK="RS NAMA"
CONSID="e0315"
SECRETKEY="3f3e74c53ff"
USERKEY="9c81594b93049145362c4291d3c8ddfb"

VCLAIM_SERVICE="vclaim-rest-dev"